In [21]:
import pandas as pd
import numpy as np
from clases import Venta

In [22]:
try:
    df = pd.read_csv('classes.csv', sep=';', encoding='latin-1')
except Exception as e:
    print(f"Error al cargar el CSV: {e}")

df.head()

   id_venta           producto  cantidad  precio_unitario      fecha
0         1    Waffle Original         4               16  6/01/2025
1         2      Waffle Camote         4                9  7/01/2025
2         3      Waffle Lúcuma         4               12  8/01/2025
3         4  Waffle de Manzana         4               12  8/01/2025
4         5          Pan Mixto         8               12  8/01/2025

In [25]:
venta_prueba = Venta(1,"waffle",4,3,"01/01/2025")
print(f"Total de la venta_prueva = {venta_prueba.calcular_total_venta()}")
print(venta_prueba)

venta_ejemplo2 = Venta(id_venta=2, producto="Pan Camote", cantidad=8, precio_unitario=10.0, fecha="10/01/2025")
mis_ventas = [venta_prueba, venta_ejemplo2]
print(mis_ventas)

Total de la venta_prueva = 12
Venta(ID=1, Producto='waffle', Cantidad=4, PrecioUnitario=3.00, Fecha='01/01/2025', Total=12.00)
[Venta(ID=1, Producto='waffle', Cantidad=4, PrecioUnitario=3.00, Fecha='01/01/2025', Total=12.00), Venta(ID=2, Producto='Pan Camote', Cantidad=8, PrecioUnitario=10.00, Fecha='10/01/2025', Total=80.00)]